@use "variables" as *;
@use "queries" as *;

.blocker {
  height: 100vh;
  width: 100vw;
  background-color: $background-color-gray;
  // @media only screen and (orientation: landscape) {
  //   display: none;
  // }
  // @media only screen and (min-width: 720px) {
  //   display: none;
  // }
  // @media only screen and (orientation: landscape),
  //   only screen and (min-width: 540px) {
  //   visibility: hidden;
  //   opacity: 0;
  //   display: none;
  // }
  @media only screen and (min-width: 540px),
    screen and (orientation: landscape) {
    display: none;
  }
  .blocker-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .blocker-text {
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: $hints-font-size;
      margin: clamp(2rem, 5vw, 10rem);
      .rotate-icon {
        max-height: 5rem;
        max-width: 5rem;
        margin-top: 10%;
        image-rendering: pixelated;
      }
      .link-text {
        color: $hyperlink-blue;
        text-decoration: underline;
      }
    }
  }
}
