@use "variables" as *;

.directory {
  .directory-container {
    padding: 2%;
    .directory-header {
      font-weight: 700;
    }
    .directory-content-container {
      .directory-content-block {
        line-height: 100%;
        font-weight: 400;
        &.directory-active-index {
          background-color: $directory-active-gray;
          // border-radius: 15% 0;
          padding: 0 1%;
        }
      }
    }
    .directory-loading {
      position: absolute;
      filter: grayscale(100%);
      &.hidden {
        visibility: hidden;
        z-index: -1;
      }
      &:not(.hidden) {
        visibility: visible;
      }
    }
  }
}
