@use "variables" as *;
@use "queries" as *;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  /*user-select: none;
  &:focus {
    outline: none;
  }*/
  font-family: "Pixelify Sans", monospace;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
}

body {
  background-color: $background-color-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-height: 300px) {
    margin-top: 2rem;
  }
}

.outside-text {
  font-size: $outside-text-font-size;
}
