@use "variables" as *;

.header {
  .header-container {
    margin: $outside-text-margin;
    color: white;
    a {
      color: $hyperlink-blue;
      text-decoration: underline;
    }
    @media not all and (hover: none) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
