.shell {
  .hidden {
    opacity: 0;
  }
  :not(.hidden) {
    opacity: 1;
    transition: 0.05s opacity ease-in-out;
  }
  .shell-container {
    display: flex;
    align-items: center;
    justify-content: center;
    &.shell-closed {
      transform: translateX(25%);
      transition: transform 0.5s ease-in-out;
    }
    &.shell-opened {
      transition: transform 0.5s ease-in-out;
    }
    .shell-img {
      max-height: 75vh;
      max-width: 75vw;
      position: relative;
    }

    .shell-components {
      position: absolute;
      .shell-interactable {
        background-size: cover;
        position: absolute;
      }
      .shell-power-btn {
        &::before {
          border-radius: 100%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          transition: background-color 0.2s ease-in-out;
        }
        &:hover::before {
          background-color: rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }
      }
      .shell-dpad-parent {
        display: flex;
        flex-direction: column;
        // .dpad-btn {
        //   background-size: contain;
        //   height: 90%;
        //   width: 33%;
        //   opacity: 0;
        //   transition: 0.5s opacity ease;
        //   &:hover {
        //     opacity: 1;
        //     cursor: pointer;
        //     transition: 0.5s opacity ease;
        //   }
        // }
        .dpad-btn {
          background-size: contain;
          height: 90%;
          width: 33%;
          opacity: 0;
          transition: 0.5s opacity ease;
          &:hover {
            opacity: 1;
            cursor: pointer;
            transition: 0.5s opacity ease;
          }
          // Media query for touchscreen devices
          @media (hover: none) and (pointer: coarse), (pointer: none) {
            &:hover {
              opacity: 1;
              cursor: pointer;
            }
          }
        }
        .shell-dpad-top-row {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
        }
        .shell-dpad-middle-row {
          display: flex;
          justify-content: space-between;
          flex: 1;
        }
        .shell-dpad-bottom-row {
          display: flex;
          justify-content: center;
          flex: 1;
        }
      }
      .shell-search-btn {
        border-radius: 100%;
        &::before {
          border-radius: 100%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          transition: background-color 0.2s ease-in-out;
        }
        &:hover::before {
          background-color: rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }
      }
      .shell-scroll-parents {
        position: absolute;
        display: flex;
        flex-direction: row;
        .shell-scroll-parent {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          background-size: cover;
          &:hover {
            cursor: pointer;
          }
          .shell-scroll-arrow {
            height: 100%;
            width: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            &:hover {
              transition: opacity 0.2s ease-in-out;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
