$background-color-gray: #242424;

$hints-font-size: clamp(2rem, 2vw, 3rem);

$outside-text-font-size: clamp(1.2rem, 1.6vw, 5rem);
$outside-text-margin: 2rem 0;

$hyperlink-blue: #5986f9;

$directory-active-gray: #b1b1b1;
